<div class="header">
  <div class="centerheader">
    <div class="headerLogo">
      <h1>
        <a routerLink="/ads" alt="header-logo">
          <span class="letterO">O</span>
          <span class="letterl">l</span>
          <span class="letterX">X</span>
        </a>
      </h1>
    </div>
    <div class="links" style="display: flex;">
      <a routerLink="/answers">Mesaje</a>
      <a routerLink="/saved-ads">Favorite</a>
      <a routerLink="/auth">Contul tau</a>
      <a routerLink="/add-ads" class="button1">Adauga anunt nou</a>
    </div>
  </div>
</div>
   