<div class="container-ad">
  <div class="display-flex">
    <div class="left-side image-container">
      <app-galleria></app-galleria>
    </div>
    <div class="left-side details-ad"></div>
    <div class=" contact-seller"></div>
  </div>
  
  <div class="display-flex"> 
    <!-- <div class="right-side info-publisher"></div>  -->
    <div class="right-side about-company">
      <div class="css-rtfe">
        <p class="css-rtfep">FIRMA</p>
        <div class="css-rtfeicon">
          <i class="fa-solid fa-circle-info"></i>
        </div>
      </div>
    </div>
    <div class="right-side location"></div>
    <div class="right-side company-details"></div>
  </div>
</div>

