<h5>Basic</h5>
<input type="text" pInputText [(ngModel)]="value1"> 
<span class="p-ml-2">{{value1}}</span>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Anunturi promovate </h1>
      <ul class="unorder-list">
        <li class="display-flex">
          <!-- <div class="mheight">
            <a href="#">
              <img src="https://frankfurt.apollo.olxcdn.com/v1/files/yixh2lth9f9b2-RO/image;s=644x461" alt="tuburi">
            </a>
          </div> -->
          <a href="#">
            <div class="card-img" style="background-image:url('https://frankfurt.apollo.olxcdn.com/v1/files/yixh2lth9f9b2-RO/image;s=644x461')"></div>
          </a>
          <i class="fa fa-light fa-truck"></i>
          <a href="#">
            <p class="description cut-text">Vand tuburi din 1000 vadvcksmndv.fndkvdcsdvsdfvdfdv</p>
          </a>
          <p class="date-location">Suceava - 4 feb</p>
          <p>4300 lei</p>
          <!-- <a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Freepik - Flaticon</a> -->
        </li>
      </ul>
    </div>
  </div>
</div>
