<div class="containerAddAd">
  <h1>Publică un anunț</h1>
  <form>
    <div class="details">
      <h3>Dă cat mai multe detalii!</h3>
      <label for="title">Adauga titlul*</label>
      <input 
        type="text" 
        id="title" 
        name="title"
        placeholder="ex: Iphone 11, inca in garantie..">

      <label for="category">Categoria*</label>
      <select id="category">
        <option value="auto">Auto, moto si ambarcatiuni</option>
        <option value="imobiliare">Imobiliare</option>
        <option value="elect">Electrice si electrocasnice</option>
      </select>
    </div>
    <div class="details mt">
      <h3>Imagini</h3>
      <p>Aceasta va fi imaginea principală a anunțului tău. Glisează și fixează imaginile în ordinea dorită.</p>
      <div class="images">
        <button type="button" class="css-images-button">Adauga imagini</button>
        <input type="file" accept=".png, .jpg, .jpeg" multiple name="file" class="css-inputFile">
      </div>
    </div>
    <div class="details mt description">
      <h3>Descriere</h3>
      <textarea 
        name="description" 
        rows="11" 
        autocomplete="off" 
        placeholder="Încearcă să scrii ce ai vrea tu să afli dacă te-ai uita la acest anunț"></textarea>
      <div class="text">
        <p>Scrie cel puțin încă 80 caractere</p>
        <p>0/9000</p>
      </div>
    </div>
    <div class="details mt">
      <label for="location">Localizare*</label>
      <input 
        type="text" 
        id="location" 
        name="location">
    </div>
    <div class="details mt">
      <h3>Informatii de contact</h3>
      <label for="email">Adresa de email</label>
      <input 
        type="email" 
        id="emial" 
        name="email">
      <label for="numberTel">Numarul de telefon</label>
      <input 
        type="number" 
        id="numberTel" 
        name="numberTel">
    </div>
    <div class="details mt">
      <button class="btn-submit" type="submit" >Publica un anunt</button>
    </div>
  </form>
  
</div>
